body {
  font-family: Helvetica;
  background-color: black;
  color: #E5E5E6;
}

#logo img {
  float: left;
  padding-bottom: 10px;
  padding-left: 15px;
  display: inline-block;
}

#navbar {
  text-align: right;
  background-color: black;
  display: inline-block;
  float: right;
  padding-top: 8px;
}

#navbar li {
  list-style-type: none;
  color: #E5E5E6;
  font-size: 22px;
  display: inline;
  padding-right: 20px;
}

.rule {
  border-top: thin solid orange;
  border-width: 1px;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: #E5E5E6;
}

a:hover {
  color: teal !important;
}

a:visited {
  text-decoration: none;
  color: orange;
}

#header {
  padding: 0px 0px 0px 0px;
  background-color: black;
  overflow: auto;
  height: 400px;
  z-index:1;
  width: 100%;
  background-image: url('../imgs/main-bg.jpeg');
}

#headtext {
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 100px;
    margin-left: 20px;
}

#subheadtext {
    text-align: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    margin-left: 20px;
}

.rulebottomheader1 {
  border-top: thick solid orange;
  border-width: 3px;
  width: 100%;
  text-align: center;
}

.rulebottomheader2 {
  border-top: thick solid teal;
  border-width: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#welcome, #about, #blog, #contact, #projects p {
  text-align: left;
  font-size: 18px;
  margin-right: 150px;
  margin-left: 150px;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: black;
  float: left;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  text-align: center;
}

#footer img {
  display: inline;
  height: 30px;
  width: 30px;
  padding-top: 10px;
}

#social {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.clear {
  clear: both;
  height: 100px;
} /* This was used to clear the main body content from going behind the sticky footer */

.blogpost, .blogpostindex {
  margin-right: 150px;
  margin-left: 150px;
  height: 600px;
  display: inline-block;
  position: relative;
}

.blogtitle {
  font-size: 26px;
  font-style: bold;
  padding-top: 0px;
}

.blogsubtitle {
  font-size: 16px;
  font-style: italic;
}

.date {
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
}

.abstract {
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding-bottom: 10px;
}

.content {
  padding-bottom: 70px;
}

#code {
  border: 1px solid orange;
  margin-top: 10px;
  background-color: #696969;
}

#tablecolumn, th, td {
  border: 1px solid white;
}