body {
  background-color: #171717;
  font-family: Helvetica;
  color: white;
}

div {
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: orange;
}

a:hover {
  color: teal;
}

ul {
  list-style-type: none;
}

#navbar {
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 8px;
  text-align: center;
  background-color: black;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#navbar li a {
  font-size: 16px;
}

#navbar li {
  color: white;
  font-style: Helvetica;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  padding-right: 50px;
  width: 100%;
}


.rule {
  border-top: thin solid white;
  border-width: 1px;
  width: 100%;
  margin-left: -10px;
  text-align: center;
}


#left ul a li:hover {
  background-color: white;
}

#header {
  position: relative;
  height: 320px;
  width: 1080px;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  background-image: url("https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/10494954_10101324977920667_2471993881391583002_o.jpg");
  background-size: 100%;
  display: center;
}

#left {
  visibility: hidden;
  left: 0px;
  width: 200px;
  height: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
  background-color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #BAD1D1;
  border-radius: 10px;
  display: block;
  position: absolute;
} /* Hiding this for time being*/

#navimenu ul a li {
  display: inline;
  font-family: Arial;
  padding: 10px 50px 10px 50px;
  text-align: center;
  margin-left: 150px;
  font-weight: bold;
}

#left p {
  padding: 0px 0px 0px 0px;
  list-style-position: left;
  font-size: 12px;
  font-family: Arial;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 10px;
  width: 180px;
  text-align: center;
  color: white;
}

#left img {
  margin-left: 20px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 50%;
}

.blogpost, .blogpostindex {
  width: 800px;
  height: 600px;
  padding: 20px 0px 30px 20px;
  display: inline-block;
  position: relative;
}

.blogtitle {
  font-weight: bold;
  font-size: 30px;
  font-family: Arial;
  color: gray;
  padding-top: 20px;
}

.blogsubtitle {
  font-size: 20px;
  font-family: Arial;
  color: orange;
}

.date {
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
  color: teal;
  padding-top: 5px;
}

.content, .abstract {
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding-bottom: 150px;
}

.abstract {
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding-bottom: 10px;
}


#footer {
  height: 50px;
  width: 100%;
  background-color: black;
  float: left;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  text-align: center;
}

#footer img {
  display: inline;
  height: 30px;
  width: 30px;
  padding-top: 10px;
}

#social {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.clear {
  clear: both;
  height: 60px;
} /* This was used to clear the main body content from going behind the sticky footer */

#code {
  border: 1px solid orange;
  margin-top: 10px;
  background-color: #696969;
}

table, th, td {
  border: 1px solid white;
}
