body {
  font-family: 'Lato', serif;
  background-color: black;
  color: #E5E5E6;
}

#logo img {
  float: left;
  padding-bottom: 10px;
  padding-left: 15px;
  display: inline-block;
}

#navbar {
  text-align: right;
  background-color: black;
  display: inline-block;
  float: right;
  padding-top: 8px;
}

#navbar li {
  list-style-type: none;
  color: #E5E5E6;
  font-size: 22px;
  display: inline;
  padding: 0px 20px 0px 20px;
}

.rule {
  border-top: thin solid orange;
  border-width: 1px;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link {
  color: orange;
}

a:hover {
  color: teal !important;
}

a:visited {
  text-decoration: none;
  color: orange;
}

a:active {
  font-style: bold;
}

#current a {
  padding: 0px 12px 0px 12px;
  border-left: solid 1px orange;
  border-right: solid 1px orange;
  color: teal;
}

#header {
  padding: 0px 0px 0px 0px;
  background-color: black;
  overflow: auto;
  height: 400px;
  z-index:1;
  width: 100%;
  background-image: url('../imgs/main-bg.jpeg');
}

#headtext {
    text-align: left;
    font-size: 50px;
    padding-top: 100px;
    margin-left: 20px;
    color: orange;
    opacity: 0.7;
}

#subheadtext {
    text-align: left;
    font-style: italic;
    font-size: 20px;
    margin-left: 20px;
}

#indexheadtext {
    text-align: left;
    font-size: 50px;
    padding-top: 100px;
    margin-left: 20px;
    float: left;
    color: orange;
    opacity: 0.7;
}

#indexsubheadtext {
    text-align: left;
    font-style: italic;
    font-size: 20px;
    margin: 0px;
    margin-left: 0px;
    float:left;
    position: static;
    color:white;
}

#indexheroquote {
  float: right;
  margin-right: 60px;
  padding-top: 100px;
  text-align: right;
  font-size: 36px;
  float: right;
  color: white;
  opacity: 0.8;
}

#author {
  float: right;
  margin-right: 60px;
  text-align: right;
  font-size: 26px;
  float: right;
  color: white;
  opacity: 0.8;
  margin: 0px;
}


#slidetext {
    border: solid 2px orange;
    border-radius: 1em;
    position: absolute;
    text-align: left;
    font-family: 'Lato', serif;
    font-size:28px;
    background-color: black;
    padding: 10px 20px 10px 20px;
    margin-top: 120px;
    opacity: 0.9;
}

.rulebottomheader1 {
  border-top: thick solid orange;
  border-width: 3px;
  width: 100%;
  text-align: center;
}

.rulebottomheader2 {
  border-top: thick solid teal;
  border-width: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#welcome, #about, #contact, #projects {
  text-align: left;
  font-size: 18px;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 15px;
}

.projectthumb {
  text-align: left;
  font-size: 18px;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 25px;
}

.projectthumb img {
  border: solid 1px white;
  text-align: left;
  opacity: .5;
  margin-right: 25px;
}

.projectdesc {
  margin: 0;
}

#headshot {
  border: solid 2px teal;
  border-radius: 5em;
  margin-right: 15px;
}

#footer {
  height: 50px;
  width: 100%;
  background-color: black;
  float: left;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  text-align: center;
  border-top: 1px solid teal;
}

#footer img {
  display: inline;
  height: 30px;
  width: 30px;
  padding-top: 10px;
}

#social {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.clear {
  clear: both;
  height: 60px;
} /* This was used to clear the main body content from going behind the sticky footer */



