body {
  font-family: Helvetica;
  background-color: #171717;
  color: white;
}

#navbar {
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 8px;
  text-align: center;
  background-color: black;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#navbar li a {
  font-size: 16px;
}

#navbar li {
  color: white;
  font-style: Helvetica;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  padding-right: 50px;
  width: 100%;
}

.rule {
  border-top: thin solid white;
  border-width: 1px;
  width: 100%;
  margin-left: -10px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:hover {
  color: teal;
}

a:visited {
  text-decoration: none;
  color: orange;
}

#header {
  padding: 0px 0px 0px 0px;
  background-color: black;
  overflow: auto;
  height: 325px;
  z-index:1;
  width: 100%;
}

#headtext {
    text-align: center;
    color: white;
    font-size: 24px;
}

#logo {
  padding-top: 40px;
}

#logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.rulebottomheader1 {
  border-top: thick solid orange;
  border-width: 10px;
  width: 100%;
  text-align: center;
}

.rulebottomheader2 {
  border-top: thick solid teal;
  border-width: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#welcome, #about, #contact, #projects p {
  text-align: left;
  font-size: 18px;
  margin-right: 100px;
  margin-left: 100px;
}


#footer {
  height: 50px;
  width: 100%;
  background-color: black;
  float: left;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  text-align: center;
}

#footer img {
  display: inline;
  height: 30px;
  width: 30px;
  padding-top: 10px;
}

#social {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

.clear {
  clear: both;
  height: 60px;
} /* This was used to clear the main body content from going behind the sticky footer */

